<div xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org"
     th:fragment="resourceSearchModal">
    <div class="modal fade" id="resourceSearchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable h-75" id="modalScroll" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">자원조회</h5>
                </div>
                <div class="modal-body" id="modalBody">
                    <div id="searchArea">

                    </div>
                    <div id="tableArea">
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">시리얼넘버</th>
                                <th scope="col">장비명</th>
                                <th scope="col">장비상태</th>
                                <th scope="col">사용자</th>
                            </tr>
                            </thead>
                            <tbody id="resourcesTableBody">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
</div>